pipeline/parentPipeline.json
{
	"name": "parentPipeline",
	"properties": {
		"activities": [
			{
				"name": "API call",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Incremental_ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "API call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "sql to datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Incremental_ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://adflogicapprahul-dqerhjc7bnh5hsg0.canadacentral-01.azurewebsites.net:443/api/alerts/triggers/When_an_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=4srx-oKBOxG2Iefboxb2k8NDvEDI1CbjGfkjLFGeQWA",
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"run_id\" : \"@{pipeline().RunId}\",\n    \"status\" : \"@{activity('Incremental_ingestion').Status}\",\n    \"error\" : \"@{if(equals(activity('Incremental_ingestion').Status, 'Failed'), string(activity('Incremental_ingestion').error),'No error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-10-25T19:23:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}